# Project Sad

## Prepared by

* Ad badr eddine 
* 
*

### import Python libraries :

* Numpy
* Scikit-learn
* Pandas
* Matplotlib

In [2]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib as ml

### import datasets:

* submission.csv
* test.csv
* train.csv

In [11]:
# train data
dataForTrain = pd.read_csv('DATA/train.csv')

# test data
dataForTest = pd.read_csv('DATA/test.csv')

# submission data
dataForSubmission = pd.read_csv('DATA/submission.csv')

In [47]:
dataForTrain.head(10)

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0
5   6            NaN    Afghanistan  2020-01-27             0.0         0.0
6   7            NaN    Afghanistan  2020-01-28             0.0         0.0
7   8            NaN    Afghanistan  2020-01-29             0.0         0.0
8   9            NaN    Afghanistan  2020-01-30             0.0         0.0
9  10            NaN    Afghanistan  2020-01-31             0.0         0.0

In [48]:
dataForTest

       ForecastId Province_State Country_Region        Date
0               1            NaN    Afghanistan  2020-04-02
1               2            NaN    Afghanistan  2020-04-03
2               3            NaN    Afghanistan  2020-04-04
3               4            NaN    Afghanistan  2020-04-05
4               5            NaN    Afghanistan  2020-04-06
...           ...            ...            ...         ...
13454       13455            NaN       Zimbabwe  2020-05-10
13455       13456            NaN       Zimbabwe  2020-05-11
13456       13457            NaN       Zimbabwe  2020-05-12
13457       13458            NaN       Zimbabwe  2020-05-13
13458       13459            NaN       Zimbabwe  2020-05-14

[13459 rows x 4 columns]

In [14]:
dataForSubmission.head(10)

   ForecastId  ConfirmedCases  Fatalities
0           1               1           1
1           2               1           1
2           3               1           1
3           4               1           1
4           5               1           1
5           6               1           1
6           7               1           1
7           8               1           1
8           9               1           1
9          10               1           1

In [20]:
len(dataForTrain.Country_Region.value_counts())

184

In [51]:
allData=pd.concat([dataForTrain.drop(['ConfirmedCases','Fatalities', 'Id'], axis =1), dataForTest])
allData.drop(['ForecastId'], axis=1, inplace=True)

In [76]:
print("there are ", str(len(dataForTrain)),' for training . \nand total there are ', str(len(allData)),". \ntest only are: ", str(len(dataForTest)))

there are  35995  for training .
and total there are  49454 .
test only are:  13459

In [77]:
allData.isnull().sum()

Province_State    28440
Country_Region        0
Date                  0
dtype: int64